@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --green: #20968b;
  --purple: #77448b;
  --dark-purple: #530082;
  --alpha-purple: #77448b70;
  --dark-blue: #141422;
  --dark-gray: #262633;
}

* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

::selection {
  background: var(--purple);
}

.fullscreen {
  background-color: var(--dark-gray);
  height: 100vh;
  width: 100vw;
}

.fullscreen__content {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top left, #262633 40%, #141422 40%);
}

.fullscreen__hello {
  color: var(--white);
  font-family: "Red Hat Display", sans-serif;
  letter-spacing: 1px;
  font-size: 2rem;
  padding-top: 10vh;
}

.fullscreen__name {
  color: var(--green);
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-size: 4rem;
}

.fullscreen__text {
  color: var(--white);
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  margin-bottom: 0.1rem;
}

.fullscreen__nav {
  color: var(--green);
  text-transform: uppercase;
  font-size: 1.25rem;
  padding-top: 0;
  padding: 0.5rem;
}

.fullscreen__nav:hover {
  color: var(--white);
}

.fullscreen__row-image {
  padding-top: 8rem;
}

.fullscreen__image {
  color: var(--white);
  font-size: 5.5rem;
  padding-right: 11.5rem;
}

.fullscreen__icon {
  color: var(--white);
  font-size: 1.3rem;
  padding-top: 8px;
  padding-right: 1.2rem;
}

.fullscreen__icon:hover {
  color: var(--green);
}

.fullscreen__footer {
  padding-top: 4rem;
}

@media only screen and (max-width: 320px) {
  .fullscreen__content {
    background-image: linear-gradient(to top left, #262633 50%, #141422 50%);
  }

  .fullscreen__hello {
    font-size: 1.3rem;
    padding-top: 6vh;
    text-align: center;
  }

  .fullscreen__name {
    font-size: 1.7rem;
    padding-top: 2vh;
    padding-bottom: 1rem;
    text-align: center;
  }

  .fullscreen__text {
    font-size: 1rem;
    text-align: center;
  }

  .fullscreen__row-image {
    padding-top: 3rem;
  }

  .fullscreen__image {
    font-size: 3rem;
    padding-right: 0rem;
    float: none !important;
    display: flex;
    justify-content: center;
  }

  .fullscreen__icon {
    font-size: 0.8rem;
    padding-right: 1.2rem;
  }

  .fullscreen__nav {
    font-size: 0.65rem;
  }

  .fullscreen__footer--col {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .fullscreen__content {
    background-image: linear-gradient(to top left, #262633 50%, #141422 50%);
  }

  .fullscreen__hello {
    font-size: 1.5rem;
    padding-top: 6vh;
    text-align: center;
  }

  .fullscreen__name {
    font-size: 2rem;
    padding-top: 2vh;
    padding-bottom: 1rem;
    text-align: center;
  }

  .fullscreen__text {
    font-size: 1rem;
    text-align: center;
  }

  .fullscreen__row-image {
    padding-top: 5rem;
  }

  .fullscreen__image {
    font-size: 4rem;
    padding-right: 0rem;
    float: none !important;
    display: flex;
    justify-content: center;
  }

  .fullscreen__icon {
    font-size: 1rem;
    padding-right: 1.2rem;
  }

  .fullscreen__nav {
    font-size: 0.85rem;
  }

  .fullscreen__footer--col {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 481px) and (max-width: 595px) {
}

@media only screen and (min-width: 596px) and (max-width: 690px) {
}

@media only screen and (min-width: 691px) and (max-width: 800px) {
  .fullscreen__content {
    background-image: linear-gradient(to top left, #262633 50%, #141422 50%);
  }

  .fullscreen__hello {
    font-size: 2rem;
    padding-top: 10vh;
    text-align: center;
  }

  .fullscreen__name {
    font-size: 3rem;
    padding-top: 5vh;
    padding-bottom: 4vh;
    text-align: center;
  }

  .fullscreen__text {
    font-size: 1.2rem;
    text-align: center;
  }

  .fullscreen__row-image {
    padding-top: 15vh;
    padding-bottom: 10vh;
  }

  .fullscreen__image {
    font-size: 6rem;
    padding-right: 0vw;
    float: none !important;
    display: flex;
    justify-content: center;
  }

  .fullscreen__icon {
    font-size: 1rem;
    padding-right: 1.2rem;
  }

  .fullscreen__nav {
    font-size: 1rem;
  }

  .fullscreen__footer--col {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) and (orientation: portrait) {
  .fullscreen__content {
    background-image: linear-gradient(to top left, #262633 50%, #141422 50%);
  }

  .fullscreen__hello {
    font-size: 3rem;
    padding-top: 10vh;
    text-align: center;
  }

  .fullscreen__name {
    font-size: 5rem;
    padding-top: 5vh;
    padding-bottom: 4vh;
    text-align: center;
  }

  .fullscreen__text {
    font-size: 1.5rem;
    text-align: center;
  }

  .fullscreen__row-image {
    padding-top: 15vh;
    padding-bottom: 10vh;
  }

  .fullscreen__image {
    font-size: 6rem;
    padding-right: 0vw;
    float: none !important;
    display: flex;
    justify-content: center;
  }

  .fullscreen__icon {
    font-size: 1.25rem;
    padding-right: 1.2rem;
  }

  .fullscreen__nav {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) and (orientation: landscape) {
  .fullscreen__content {
    background-image: linear-gradient(to top left, #262633 37%, #141422 37%);
  }

  .fullscreen__hello {
    font-size: 1.5rem;
    padding-top: 12vh;
  }

  .fullscreen__name {
    font-size: 3.1rem;
  }

  .fullscreen__text {
    font-size: 1rem;
  }

  .fullscreen__row-image {
    padding-top: 15rem;
  }

  .fullscreen__image {
    font-size: 4.5rem;
    padding-right: 9rem;
  }

  .fullscreen__icon {
    font-size: 1rem;
    padding-right: 1.2rem;
  }

  .fullscreen__nav {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .fullscreen__content {
    background-image: linear-gradient(to top left, #262633 36%, #141422 36%);
  }

  .fullscreen__hello {
    font-size: 2rem;
    padding-top: 12vh;
  }

  .fullscreen__name {
    font-size: 3.5rem;
  }

  .fullscreen__text {
    font-size: 1.2rem;
  }

  .fullscreen__row-image {
    padding-top: 10rem;
  }

  .fullscreen__image {
    font-size: 5.5rem;
    padding-right: 10rem;
  }

  .fullscreen__icon {
    font-size: 1.2rem;
    padding-right: 1.2rem;
  }

  .fullscreen__nav {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1366px) {
}

@media only screen and (min-width: 1367px) and (max-width: 1440px) {
  .fullscreen__content {
    background-image: linear-gradient(to top left, #262633 37%, #141422 37%);
  }

  .fullscreen__hello {
    font-size: 3rem;
    padding-top: 12vh;
  }

  .fullscreen__name {
    font-size: 5rem;
  }

  .fullscreen__text {
    font-size: 1.5rem;
  }

  .fullscreen__row-image {
    padding-top: 13rem;
  }

  .fullscreen__image {
    font-size: 6.5rem;
    padding-right: 12rem;
  }

  .fullscreen__icon {
    font-size: 1.5rem;
    padding-right: 1.2rem;
  }

  .fullscreen__nav {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 1441px) and (max-width: 1600px) {
  .fullscreen__content {
    background-image: linear-gradient(to top left, #262633 38%, #141422 38%);
  }

  .fullscreen__hello {
    font-size: 3rem;
    padding-top: 12vh;
  }

  .fullscreen__name {
    font-size: 5rem;
  }

  .fullscreen__text {
    font-size: 1.5rem;
  }

  .fullscreen__row-image {
    padding-top: 13rem;
  }

  .fullscreen__image {
    font-size: 7rem;
    padding-right: 11.5rem;
  }

  .fullscreen__icon {
    font-size: 1.5rem;
    padding-right: 1.2rem;
  }

  .fullscreen__nav {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1824px) {
  .fullscreen__content {
    background-image: linear-gradient(to top left, #262633 37%, #141422 37%);
  }

  .fullscreen__hello {
    font-size: 3rem;
    padding-top: 12vh;
  }

  .fullscreen__name {
    font-size: 5rem;
  }

  .fullscreen__text {
    font-size: 1.5rem;
  }

  .fullscreen__row-image {
    padding-top: 20rem;
  }

  .fullscreen__image {
    font-size: 7rem;
    padding-right: 11.5rem;
  }

  .fullscreen__icon {
    font-size: 1.5rem;
    padding-right: 1.2rem;
  }

  .fullscreen__nav {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 1825px) and (max-width: 1920px) {
  .fullscreen__content {
    background-image: linear-gradient(to top left, #262633 37%, #141422 37%);
  }

  .fullscreen__hello {
    font-size: 3rem;
    padding-top: 12vh;
  }

  .fullscreen__name {
    font-size: 5rem;
  }

  .fullscreen__text {
    font-size: 1.5rem;
  }

  .fullscreen__row-image {
    padding-top: 21rem;
  }

  .fullscreen__image {
    font-size: 7rem;
    padding-right: 11.5rem;
  }

  .fullscreen__icon {
    font-size: 1.5rem;
    padding-right: 1.2rem;
  }

  .fullscreen__nav {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
