@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do&display=swap');

/* common */

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.divider {
    height: 0.5vh;
    background-color: #ffd700;
}

.title-section {
    display: flex;
    justify-content: center;
    color: #20968B;
    font: Bold 28px 'Red Hat Display';
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.footer-copyright {
    color: #FFFFFF;
}

.fab,
.fas {
    color: #20968B;
}

/* navbar */

.icon-navbar {
    color: rgba(255, 255, 255, .5) !important;
}

.icon-navbar:hover {
    color: #ffd700 !important;
}

.nav-link:hover {
    color: #ffd700 !important;
}

/* carousel */

.carousel {
    background-color: #141422;
    padding-bottom: 10vh;
}

/* descriptive-memorial */

.descriptive-memorial {
    background-color: #141422;
    padding-bottom: 10vh;
}

.card {
    background-color: #262633;
}

.btn-link {
    color: #20968B;
    font-family: 'Red Hat Display', sans-serif;
    cursor: pointer;
}

.btn-link:hover {
    color: #ffd700;
    text-decoration: none;
    box-shadow: none;
}

.btn-link.focus,
.btn-link:focus {
    text-decoration: none;
    box-shadow: none;
}

.card-body {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    opacity: 0.8;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* information */

.information {
    background-color: #141422;
    padding-bottom: 10vh;
}

.information-text-items {
    font: 16px 'Poppins';
    letter-spacing: 0.35px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.information-item {
    display: flex;
    justify-content: center;
}