@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do&display=swap");

:root {
    --white: #ffffff;
    --black: #000000;
    --green: #20968b;
    --dark-blue: #141422;
    --dark-gray: #262633;
    --purple: #77448b;
    --dark-purple: #530082;
    --alpha-purple: #77448b70;
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background: var(--purple);
}

section {
    float: left;
    width: 100%;
    padding: 30px 0;
}

.portfolio-page__title {
    display: flex;
    justify-content: center;
    color: var(--green);
    font: Bold 28px "Red Hat Display";
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-bottom: 7vh;
    padding-top: 20vh;
}

/* ScrollBar */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--black);
}

/* Navbar */
#mainNav {
    background-color: #212529;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: var(--white);
    border: 0;
    background-color: var(--green);
    font-family: "Poppins", sans-serif;
}

#mainNav .navbar-brand {
    font-family: "Nothing You Could Do", cursive;
    color: var(--green);
    font-weight: bold;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: var(--green);
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: var(--white);
    font-family: "Red Hat Display", sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-active {
    color: var(--green);
    font-weight: bold;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: var(--green);
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        background-color: transparent;
    }

    #mainNav .navbar-brand {
        font-size: 1.75em;
        transition: all 0.3s;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
    }

    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: var(--black);
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
    }
}

/* Portfolio */
.portfolio-page {
    background-color: var(--dark-blue);
}

.portfolio-card {
    background-color: var(--dark-gray);
    cursor: pointer;
    margin-top: 20px;
}

.portfolio-card:hover {
    transform: translateY(-0.6rem);
}

.portfolio-card__title {
    color: var(--white);
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.8px;
    font-weight: 500;
}

.portfolio-card:hover .portfolio-card__title {
    color: var(--green);
    font-weight: 600;
}

.portfolio-card__text {
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    opacity: 0.8;
    letter-spacing: 0.5px;
}

.portfolio-card__img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
}

.portfolio-card__img-block img {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);
}

.portfolio-card__icons {
    margin: 0;
    color: var(--green);
    font-size: 120%;
}

a:hover {
    text-decoration: none;
}

.portfolio-card__badge {
    background-color: var(--green);
    color: var(--black);
    font-size: 0.7rem;
    margin-left: 0.5rem;
    padding: 0.3rem;
}

.portfolio-card__badge--first {
    margin-left: 0rem;
}

.portfolio-card__row-padding {
    padding-bottom: 6vh;
}

/* Footer */
.footer {
    padding: 10px 0;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
}

.footer__copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
}

.footer__social-buttons {
    margin-bottom: 0;
}

.footer__icon {
    font-size: 20px;
    line-height: 50px;
    transition: all 0.3s;
    color: var(--white);
    outline: none;
}

.footer__icon:active,
.footer__icon:focus,
.footer__icon:hover {
    color: var(--green);
}

@media only screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 78%;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    .footer__copyright {
        font-size: 89%;
    }
}

@media only screen and (min-width: 691px) and (max-width: 800px) {
    .footer__copyright {
        font-size: 89%;
    }
}
