/* Common */
#mainNav.navbar-shrink .nav-link{
  color: var(--purple) !important;
  display: block !important;
}

#mainNav .navbar-nav .nav-item .nav-link {
  padding: 1.1em 1em !important;
  display: none;
}

nav .nav-item .nav-link:hover {
cursor: default;
}

/* Portfolio Page */
.container .centralize {
  display: flex;
  justify-content: center;
}

#portfolio-page .container .card {
  background-color: var(--dark-gray);
  width: 19rem;
  height: 20rem;
  cursor: pointer;
  border-radius: 0.625rem;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

#portfolio-page .container .card:hover {
  transform: translateY(-0.6rem);
}

.container .centralize .card-title {
  color: var(--white);
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  font-weight: 500;
}

.container .card:hover .card-title {
  color: var(--green);
  font-weight: 600;
}

.container .centralize .card-text {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  opacity: 0.8;
  letter-spacing: 0.5px;
}

.container .centralize .card-body-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .text-card-more {
  display: flex;
  justify-content: center;
  color: var(--white);
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
}

.container .card:hover .text-card-more {
  color: var(--green);
}

a:hover {
  text-decoration: none;
}

.row-padding {
  padding-top: 6vh;
}

/* Project Pages */
#descriptive-memorial-odd {
  background-color: var(--dark-blue);
}

#descriptive-memorial-even {
  background-color: var(--dark-gray);
}

#descriptive-memorial-even,
#descriptive-memorial-odd {
  color: var(--white);
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.8px;
  font-weight: 500;
}

#descriptive-memorial-even .title-section,
#descriptive-memorial-odd .title-section {
  display: flex;
  justify-content: center;
  color: var(--green);
  font: Bold 28px "Red Hat Display";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.callout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-left: solid 5px var(--black);
  border-radius: 3px;
  margin: 10px;
  height: 250px;
  width: 350px;
  padding-right: 20px;
  padding-left: 20px;
}

.callout__text {
  display: flex;
  align-items: center;
}

.callout-dark {
  background-color: var(--dark-blue);
  border-left-color: var(--dark-purple);
}

.callout-light {
  background-color: var(--dark-gray);
  border-left-color: var(--dark-purple);
}

.languageIcons {
  font-size: 600%;
  color: var(--green);
}

.summary__title {
  padding-top: 15vh;
}

.summary__text {
  padding-top: 9vh;
  padding-left: 3.5vw;
  padding-right: 1.5vw;
}

.summary__image {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.summary__image img {
  height: 250px;
  width: 350px;
}

.summary__box {
  box-sizing: content-box;
  height: 250px;
  width: 350px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.introduction__image {
  max-width: 65%;
}

.result-image {
  width: 100%;
}
