/* Common */
#mainNav.navbar-shrink .nav-link {
  color: var(--purple) !important;
  display: block !important;
}

#mainNav .navbar-nav .nav-item .nav-link {
  padding: 1.1em 1em !important;
  display: none;
}

nav .nav-item .nav-link:hover {
  cursor: default;
}

/* Portfolio Page */
#portfolio-page {
  padding-top: 20vh;
  background-color: var(--dark-blue);
}

#portfolio-page .title-section {
  display: flex;
  justify-content: center;
  color: var(--green);
  font: Bold 28px "Red Hat Display";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 5vh;
}

.row-padding {
  padding-top: 7vh;
}

.container .centralize {
  display: flex;
  justify-content: center;
}

#portfolio-page .container .card {
  background-color: var(--dark-gray);
  width: 19rem;
  height: 20rem;
  cursor: pointer;
  border-radius: 0.625rem;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

#portfolio-page .container .card:hover {
  transform: translateY(-0.6rem);
}

.container .centralize .card-title {
  color: var(--white);
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  font-weight: 500;
}

.container .card:hover .card-title {
  color: var(--green);
  font-weight: 600;
}

.container .centralize .card-text {
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  opacity: 0.8;
  letter-spacing: 0.5px;
}

.container .centralize .card-body-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .text-card-more {
  display: flex;
  justify-content: center;
  color: var(--white);
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
}

.container .card:hover .text-card-more {
  color: var(--green);
}

a:hover {
  text-decoration: none;
}

.row-padding {
  padding-top: 6vh;
}

/* Project Pages */
#descriptive-memorial-odd {
  background-color: var(--dark-blue);
}

#descriptive-memorial-even {
  background-color: var(--dark-gray);
}

#descriptive-memorial-even,
#descriptive-memorial-odd {
  color: var(--white);
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.8px;
  font-weight: 500;
}

#descriptive-memorial-even .title-section,
#descriptive-memorial-odd .title-section {
  display: flex;
  justify-content: center;
  color: var(--green);
  font: Bold 28px "Red Hat Display";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.project-title {
  padding-top: 15vh;
  padding-bottom: 2vh;
}

.project-image {
  width: 100%;
}

.project-image-multiple {
  padding-bottom: 5vh;
}

.project-item {
  color: var(--white);
  font-family: "Red Hat Display", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.8px;
  font-weight: 500;
  padding-bottom: 1vh;
}

.project-text {
  color: var(--white) !important;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  opacity: 0.8;
  letter-spacing: 0.5px;
}

.project-screen-name {
  text-align: right !important;
  color: var(--white) !important;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  opacity: 0.8;
  letter-spacing: 0.5px;
}

.image-text {
  padding-bottom: 1vh;
}

.project-badge {
  background-color: var(--green);
  color: var(--black);
  font-size: 0.8rem;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.project-badge__first {
  margin-left: 0rem;
}

.project-badge__bottom {
  margin-top: 0.5rem;
}
